:root {
	--nano-mods-bg: #73ab9b;
	--nano-mods-fg: #000000;
	--nano-staff-fg: #000000;
	--nano-staff-bg: #e2eff3;
}



span.chat-message-info__username.is-staff > span {
background-color: var(--nano-mods-bg) !important;
color: var(--nano-mods-fg) !important;
}

span.chat-message-info__username.is-admin > span {
background-color: var(--nano-staff-bg) !important;
color: var(--nano-staff-fg) !important;
}

div.topic-meta-data > div.names.trigger-user-card > span.staff > a {
background-color: var(--nano-mods-bg) !important;
color: var(--nano-mods-fg) !important;
}

div.topic-meta-data > div.names.trigger-user-card > span.admin > a {
background-color: var(--nano-staff-bg) !important;
color: var(--nano-staff-fg) !important;
}
